#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
#colorbox, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{background: #000000; position:fixed; opacity: 0.8 !important; width:100%; height:100%; top:0; left:0; z-index:9999;}
#colorbox{outline:0; position: fixed !important;  top:125px !important;}
#cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; cursor:pointer;}
#cboxClose:active {outline:0;}
#cboxClose{
position: fixed;
right: 0;
top: 50%;
background: none;
width: 94px;
height: 40px;
display: none;
}
#cboxClose:hover{background-position:-25px -25px;}
.SubscribeForm input[type="email"]{width: 285px; border: 1px solid #EDE9EA; outline:0; color: #ABABAB; text-transform: uppercase; font-size: 12px; padding: 14px 4px 14px 6px;}
.SubscribeForm input[type="submit"]{font-size: 12px; color: #FFF !important; text-decoration: none; background-color: #E89020; border: none;padding: 6px 11px;  float: right;}
#cboxLoadedContent p, #cboxLoadedContent ul{margin:0;}

#cboxLoadedContent{
	overflow: hidden !important;
}

@media screen and (max-width: 767px){
#colorbox{
	 max-width: 100% !important;
	 margin-left: 0;
}
#cboxWrapper{
	 max-width: 100% !important;
}
#cboxContent{
	 max-width: 100% !important;
}

#cboxLoadedContent{
	 max-width: 100% !important;
}
}



